
body, h1, h2, ul, li, p {  
    margin: 0;  
    padding: 0;  
    list-style: none; 
}  
  

header {  
    background-color: #f2f2f2;  
    padding: 20px;  
    text-align: center;  
}  
  
header h1 {  
    margin-bottom: 10px;  
}  
  
header p {  
    font-size: 16px;  
    color: #666;  
}  
  

main {  
    padding: 20px;  
}  
  

#fundraisersList {  
    display: flex;  
    flex-wrap: wrap;  
    justify-content: space-around;  
    gap: 20px; 
}  
  
#fundraisersList li {  
    background-color: #fff;  
    border: 1px solid #ddd;  
    padding: 15px;  
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);  
    width: calc(33.333% - 20px);
    min-width: 200px; 
    margin-bottom: 20px;  
    cursor: pointer; 
    transition: transform 0.3s ease; 
}  
  
#fundraisersList li:hover {  
    transform: translateY(-5px);  
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
}  
  

#fundraisersList li p {  
    margin: 0;  
    font-size: 14px;  
    color: #333;  
}  
  
